@page
@model IndexModel
@{ ViewData["Title"] = "Shop Management"; }

<header class="section-heading">
    <h2 class="section-title">@ViewData["Title"]</h2>
</header>
<div class="row">
    <div class="col-md-4">
        <partial name="_ManageNav"/>
    </div>
    <div class="col-md-8">
        <p>Area to manage the shop, like Products, Orders, Users...</p>
    </div>
</div>