@{
    ViewData["Title"] = "Error";
}
<div id="page-error">
    <div class="page-error">
        <div class="page-error-x">
            <h1>Oops!</h1>
            <h2>Sorry, an unexpected error happened!</h2>
        </div>
        <a href="~/">Go to Home</a>
    </div>
</div>