@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (!SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Login"> User Login </a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Register"> User Register </a>
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/Index"> Account Setting </a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/Orders"> My Orders </a>
    </li>
}